
h1 {
    text-align: center;
    font-family: 40px;
}

p{
    font-size: 22px;
    text-indent: 45px;
}

img{
    height: 300px;
    width: 300px;
}

.img-banner {
    display: flex;
    justify-content: center;
}