@charset "UTF-8";

/* Estilo para cabeçalho/tópicos*/
.tópicos{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

/* Esttilo para as barras de habilidades */
.cabeçalho{
    background-color: #ffffff;
    padding: 2px;
    margin: 12px;
    margin: none;
    border-radius: 35px;
    box-shadow: 0 15px 20px #00000049
}

body{
    background-color: #e1e1e190;
    font-family: Arial, sans-serif;
}

.tecnologias{
    width: 750px;
    color: #000000;
    padding: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 15px 20px #00000049;
}

.tecnologias ul{
    list-style: none;
}

.tecnologias ul li{
    margin: 20px;
}

.tecnologias .barras{
    background-color: #ccc;
    display: block;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.barras > span{
    height: 20px;
    background: linear-gradient(to right, #106813, #8bc34a);
    position: absolute;
}

.html{
    width: 90%;
}

.css{
    width: 80%;
}

.js{
    width: 70%;
}

.python{
    width: 60%;
}

.git{
    width: 95%;
}

.titulografico{
    text-indent: 1em 
}

.skills{
    width: 750px;
    color: #000000;
    padding: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 15px 20px #00000049;
}

.skills ul{
    list-style: none;
}

.skills ul li{
    margin: 20px;
}

.skills .barras{
    background-color: #ccc;
    display: block;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.design{
    width: 50%;
}

.pub{
    width: 40%;
}

.office{
    width: 80%;
}

.comp{
    width: 90%;
}

.equipe{
    width: 100%;
}

#skills-tecnologias {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 35px; /* Espaço entre as divs */
    padding: 20px;
}
/* Esttilo para as barras de habilidades */
/* formatação de  index.html*/
.imagens {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.imagen-principal {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.imagem-banner{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.intro{
    font-size: 26px;
    padding: 20px;
}

.depoimento{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#depoimentos{
    padding: 20px;
    font-size: 20px;
    
}

.texto-depoimento {
    align-items: center;
    padding: 20px;
    padding-right: 0;
}